.title{
    font-family: 'Montserrat';
font-weight: 500;
font-size: 25px;
display: flex;
color: #FF6060;
margin-bottom: 0px;

}

.Touteslesdonnées{
    display: flex;
    justify-content: space-between;
    text-align: end;
    align-items: baseline;
}


.displaystack1{
    display: flex;
    flex-direction: column;
    text-align: left;
}

.location{
    font-family: 'Montserrat';
font-weight: 500;
font-size: 15px;
display: flex;
color: #FF6060;
margin: 5px 0px 20px 0px;
}

.tags{
    display: flex;
}

.tag{
    background: #FF6060;
border-radius: 15px;
padding:10px;
margin-right: 10px;
height: 25px;
display: flex;
align-items: center;
}

.host{
    display: flex;
    flex-direction: row;
}

.hostname{
    font-family: 'Montserrat';
font-weight: 500;
font-size: 18px;
display: flex;
color: #FF6060;
width: min-content;
margin: 10px;
}

.hostpictures{
    width: 64px;
    height: 64px;
    border-radius: 50px;
}

.htag{
    margin: auto;
    font-family: 'Montserrat';
    font-size: 12px;
    text-align: center;
    color: #FFFFFF;
}

.rating{
    margin-top: 8px;
}

.etoilespleine{
    width: 20px;
    padding-right: 10px;
}

.etoilesvide{
    width: 20px;
    padding-right: 10px;
}

.displaystack2{
    display: flex;
    flex-direction: column;
    align-items: end;
}


@media screen and (max-width: 800px) {

    .Touteslesdonnées{
        flex-direction: column;
    }

    .displaystack2{
        flex-direction:row-reverse;
        justify-content: space-between;
        width: 100%;
        margin-top: 10px;
    }

    .rating{
        margin-top: 15px;
    }

    .htag{
        font-size: 10px;
    }

    .tags{
        flex-wrap: wrap;
    }

    .tag{
        margin-top: 5px;
    }
  }