.Banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px 100px 68px 100px;

}

.Navigation {
    text-decoration: none;
    color: #FF6060;
    font-family: 'Montserrat';
    font-size: 24px;
    line-height: 142.6%;
    padding-left: 57px;
}

.Navigationactive{
    text-decoration: underline;
    color: #FF6060;
    font-family: 'Montserrat';
    font-size: 24px;
    line-height: 142.6%;
    padding-left: 57px;
}

@media screen and (max-width: 800px) {

    .Banner{
        margin: 40px 20px 68px 20px;
    }

    .Navigation{
        padding-left: 0px;
        margin-right: 10px;
        font-size: 12px;
    }
    
    .Navigationactive{
        margin-right: 10px;
        padding-left: 0px;
        font-size: 12px;
    }

    .img{
        width: 150px;
    }
}